/* pages/AgencyPage.module.css */

.container {
    /* Center the content vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('../resources/background.png');
    background-position: center;
    height: 80vh; 
  }
  
  
  
  .title {
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; 
    position: relative; /* Position relative for pseudo-element */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .subtitle::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Position the underline just below the text */
    left: 50%; /* Position the underline in the middle */
    transform: translateX(-50%); /* Center the underline */
    width: 0; /* Set initial width to 0 */
    height: 2px; /* Set the height of the underline */
    background-color: blue; /* Set the initial background color */
    transition: width 0.5s ease; /* Add transition for smooth animation */
  }
  
  /* Add hover effect to underline */
  .subtitle:hover::after {
    width: 100%; /* Set the width to 100% on hover */
  }

  .subtitle{
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 50px;
  transition: transform 0.3s ease;
  }

  .subtitle:hover {
    transform: scale(1.1); /* Increase scale on hover */
  }
  
  .content {
    /* Center the content horizontally */
    display: flex;
    align-items: center;
  }
  
  .image-container {
    /* Add styles for the image container */
    background-image: url('../resources/video.png');
    background-size: cover;
    background-position: center;
    width: 300px; /* Set the width of the image container */
    height: 480px; /* Set the height of the image container */
    margin-right: 60px; /* Add spacing between the image and the cards */
    border: 1px solid black;
    border-radius: 15px;
    transition: transform 0.3s ease; 
  }
  
  /* Add hover effect to image container */
  .image-container:hover {
    transform: scale(1.1); /* Scale up the image container on hover */
  }



  /*Mobile */
  @media only screen and (max-width: 768px) {
    .container {
      height: auto; /* Adjust height for smaller screens */
    }
    
    .content {
      flex-direction: column; /* Stack content vertically on smaller screens */
    }
    
    .image-container {
        background-size: cover; /* Ensure the image covers the entire container */
        background-position: center; /* Center the image within the container */
        width: 70%; /* Make the image container full width */
        height: 300px; /* Set a specific height for the image container */
        margin-bottom: 20px; /* Add spacing between image and boxes */
        transition: transform 0.3s ease;
      }

      .image-container:hover {
        transform: scale(1.1); /* Scale up the image on hover */
        
      }
      
    
    .box {
      width: 100%; /* Make boxes full width on smaller screens */
    }
  }










  